node_modules/
.expo/
dist/
web-build/

android/.gradle/
android/app/build/
android/build/
android/local.properties

ios/

.env
*.apk

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env*
supabase/.temp/

APK-Runner/
